<h1> EDIT YOUR PROFILE </h1>

{{#profileInfo}}
 <div class="item">
          <input type="text" id="first" name="firstName" placeholder={{first}} value={{first}}>
          <input type="text" id="last" name="lastName" placeholder={{last}}>
           <input type="text" id="email" name="email" placeholder{{email}}>
          <input type="text" id="password" name="password" placeholder="Password">
          <input type="text" id="age" name="age" placeholder={{age}}>
          <input type="text" id="city" name="city" placeholder={{city}}>
           <input type="text" id="homePage" name="homePage" placeholder={{url}}>          
        </div>
{{/profileInfo}}