<header>
        <h1>  Justice for George Floyd </h1>
</header>

<div class="wrapper">
        <div class="left-container">
                <img class="img-register-left" src="girls.jpg"/>
        </div>

        <div class="right-container">
                <div class="text-con">
                         <p>Edit your profile</p>
                </div>

                {{#profileInfo}}
                <main>
                     <form method="POST">
                            <input type="text" id="first" name="firstName" placeholder=:"First Name" value={{first}}>
                            <input type="text" id="last" name="lastName" placeholder="Last Name" value={{last}}>
                            <input type="text" id="email" name="email" placeholder="Email" value={{email}}>
                            <input type="password" id="password" name="password" placeholder="New Password">
                            <input type="text" id="age" name="age" placeholder="Your age" value={{age}}>
                            <input type="text" id="city" name="city" placeholder="City" value={{city}}>
                            <input type="text" id="homePage" name="homePage" placeholder="Website" value={{url}}> 
                {{/profileInfo}}
                            <input type="hidden" name="_csrf" value="{{csrfToken}}">    

                            <button type="submit"> Edit </button>
                     </form>
                </main>
        </div>
</div>

