<h1> EDIT YOUR PROFILE </h1>

{{#profileInfo}}
 <form method="POST">
 <div class="item">
          <input type="text" id="first" name="firstName" placeholder={{first}} value={{first}}>
          <input type="text" id="last" name="lastName" placeholder={{last}} value={{last}}>
           <input type="text" id="email" name="email" placeholder={{email}} value={{email}}>
          <input type="password" id="password" name="password" placeholder="New Password">
          <input type="text" id="age" name="age" placeholder={{age}} value={{age}}>
          <input type="text" id="city" name="city" placeholder={{city}} value={{city}}>
           <input type="text" id="homePage" name="homePage" placeholder={{url}} value={{url}}> 
                
        </div>
{{/profileInfo}}
<input type="hidden" name="_csrf" value="{{csrfToken}}">    

 <button type="submit"> Edit </button>
          
        </form>


