<h1> signers </h1>
<h3> - Text will ocme later i promise - </h3>

<ul>
{{#result}}
    <li><a href="{{url}}" target="_blank">{{first}} {{last}} </a>  {{age}} <a href="/signers/{{city}}"> {{city}} </a></li>
{{/result}}
</ul>


