<h1> signers </h1>

<main>

<ul>
{{#result}}
    <li><a href="{{url}}" target="_blank">{{first}} {{last}} </a>  {{age}} <a href="/signers/{{city}}"> {{city}} </a></li>
{{/result}}
</ul>

<p><a id="topleft-link" href="/thanks">Back</a></p>

</main>


