<header>
        <h1>  Justice for George Floyd </h1>
</header>

<div class="wrapper">
    <div class="left-container">
            <img class="img-register-left" src="hug.jpg"/>
    </div>

    <div class="right-container">
                <div class="text-con">
                        <h1 id="support">Our supporters</h1>

                     <main>

            <ul>
                {{#result}}
                    <li><a href="{{url}}" target="_blank">{{first}} {{last}} </a>  {{age}} <a href="/signers/{{city}}"> {{city}} </a></li>
                {{/result}}
            </ul>
            <p><a class="thank-u-links" href="/thanks">Back</a></p>
    </main>
                </div>
    </div>
</div>


