
{{#fullname}}
<h1> thank you {{firstName}} {{lastName}} </h1>



<main></main>
{{!-- <h3>{{firstName}} {{lastName}}</h3> --}}
{{/fullname}}
{{#result}}
 <img src="{{signature}}" class="signature-field" width="300" height="80"/>
{{/result}}

<a href="/profile/edit">Edit profile</a>
<a href="/signers">See supporters!</a>

<form method="POST">
    <button type="submit"> Delete signature</button>
    <input type="hidden" name="_csrf" value="{{csrfToken}}"> 
    </form>
</main>

